{% extends "_layout.html" %}
{% block title %}Upload Result{% endblock %}
{% block content %}
  <h1>Upload Result : {{ filename }}</h1>

  {% if added|length>0 %}
    <div class="container-fluid text-success text-center p-1">
  {% else %}
    <div class="container-fluid text-warning text-center p-1">
  {% endif %}
      <h3>
        {{ added|length}} donations added
      </h3>
    </div>
  {% if dupes|length>0 %}
    <div class="container-fluid text-warning text-center p-1">
      <h3>
        {{ dupes|length}} duplicate donations ignored
      </h3>
    </div>
  {% endif %}
  {% if badRows|length>0 %}
    <div class="container-fluid text-warning text-center p-1">
      <h3>
        {{ badRows|length}} rows not recognised as donations
      </h3>
    </div>
  {% endif %}
  <div class="container-fluid p2 text-center p-4">
    <a href="/donations/byWeek">
      <button class="btn btn-secondary my-2 my-sm-0">Continue</button>
    </a>
  </div>
{% endblock %}